<main>
  <div class="container">
    <div class="row">
      <div class="top-image">
        <P>
          ようこそ、ながのCAKEへ！</br>
          このサイトは、ケーキ販売のECサイトになります。</br>
          会員でない方も商品の閲覧はできますが、</br>
          購入には会員登録が必要になります。
        </p>
      </div>
    <div class="new-items">
      <h4>新着商品</h4>
      　<% @items.each do |item| %>
          <div class="item-box">
          　 <%= image_tag item.image %>

            <p><%= item.name %></p>
            <p>￥<%= item.with_tax_price.to_s(:delimited) %></p>
          </div>
        <% end %>
      </div>
        <%= link_to "全ての商品を見る", items_path %>

    </div>
  </div>
</main>