@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

* {
  margin:  0;
  padding: 0;
  box-sizing: border-box;
}


.logo a {
  border: solid 1px #000;
  padding: 10px 72px;
  text-decoration: none;
  font-size: 30px;
  color: #000000;
}
td a {
  color: #000000;
}

.nav-item{
  margin: 0 20px;
}


body{
  margin: 10px 10px;
  border: solid 1px #000000;
  min-height: 100vh;
  position: relative;
  padding-bottom: 110px;
}

.main {
  flex: 1;
}

.line {
  border-top: solid 1px #000000;

}

h5 {
  padding: 0 15px;
  margin: 30px;
  background-color: #dcdcdc;
}

footer{
  border-top: solid 1px #000000;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.icon {
  position: absolute;
  top: 120px;
  right: 150px;

}

.paginate {
  margin: 0 auto;
}

.customer-paginate {
  padding-left: 400px;
}

#border {
  border-bottom: solid 1px #dcdcdc;
}

.link{
  text-decoration: underline;
}

h5 .container {
  padding-left: 100px;
}

.select {
  width: 350px;
}

.container-item {
  width: 700px;
}

.table-genre {
  width: 400px;
}

.customer-table{
  width: 900px;
  margin: 0 auto;
}

#btn-table {
margin-left: 245px;
}

.order-table {
  width: 900px;
  margin: 0 auto;
}

.order-paginate {
  padding-left: 400px;
}

.sign-up {
  padding-right: 400px;
}