@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

* {
  margin:  0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

.logo {
  border: solid 1px #000;
  padding: 10px 72px;
  text-decoration: none;
  color: #000000;
}

.nav-item{
  margin: 0 20px;
}


body{
  height: 765px;
  margin: 10px 10px;
  border: solid 1px #000000;
}

.line {
  border-top: solid 1px #000000;

}

h5 {
  padding: 0 15px;
  background-color: #dcdcdc;
}

