<main>
  <div class="container">
    <h4>注文情報確認</h4>
    <table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">商品名</th>
      <th scope="col">単価（税込）</th>
      <th scope="col">数量</th>
      <th scope="col">小計</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td>Otto</td>
      <td>@mdo</td>
      <td></td>
    </tr>
  </tbody>
</table>
<table class="table table-bordered">
  <tbody>
    <tr>
      <th scope="row">送料</th>
      <td>Mark</td>
    </tr>
    <tr>
      <th scope="row">商品合計</th>
      <td>Jacob</td>
    </tr>
    <tr>
      <th scope="row">請求金額</th>
      <td colspan="2">Larry the Bird</td>
    </tr>
  </tbody>
</table>

<strong>支払い方法</strong>
<strong>お届け先</strong>

  </div>
</main>